@import url('https://fonts.googleapis.com/css?family=Varela+Round');

section {
  font-family: 'Varela Round', sans-serif !important;
}

h1, h2, h3, h4, h5 {
  font-family: 'Varela Round', sans-serif !important;
  text-transform: inherit !important;
}

ul ul {
  font-size: 0.75em !important;
}

i {
  font-style:  italic;
}

minor {
  color: #4c4c4c;
}

minor:before {
  content: '(';
}

minor:after {
  content: ')';
}

.left-align {
  text-align: left;
}

.footnote {
  font-size: 16px;
  width: 100%;
  text-align: left;
  color: #4c4c4c;
}
